package {rootPackage}.model;

import javax.persistence.Entity;
import javax.persistence.FetchType;
import javax.persistence.JoinColumn;
import javax.persistence.ManyToOne;
import javax.persistence.Table;


/**
 * {tableName}模型
 * @author {author}
 * @since {date}
 */
@Entity
@Table(name = "{tableCode}")
public class {ModelName} extends {ModelName}Base{

}
